/dist/
/bin/
*.log
.DS_Store
Thumbs.db
/cmd/launcher/web/*.js
/cmd/launcher/web/monaco-editor.js
/cmd/launcher/web/monaco-editor.css
/cmd/launcher/web/monaco-*-worker.js
/cmd/launcher/web/monaco-*.ttf
